@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer base {
    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #020617; /* slate-950 */
    }

    ::-webkit-scrollbar-thumb {
        background: #1e293b; /* slate-800 */
        border-radius: 10px;
        border: 2px solid #020617; /* slate-950 */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #334155; /* slate-700 */
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #1e293b #020617;
    }
}
